@using MyGitTest123.Models;
@using System.Text;
@model  MyGitTest123.Models.MessagesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>What I had to say to you:</h2>

<div id="messages">
    @if (Model != null && Model.Messages != null)
    {
        foreach (var item in Model.Messages)
        {
            if (@item.Image == null)
            {
                <div>@TimeZoneInfo.ConvertTimeFromUtc(item.Time, TimeZoneInfo.FindSystemTimeZoneById("Israel Standard Time")) - 
                    @item.MessageText
               </div>
            }
            else
            {
                <div>
                   @TimeZoneInfo.ConvertTimeFromUtc(item.Time, TimeZoneInfo.FindSystemTimeZoneById("Israel Standard Time")) -
                    @Html.Raw("<a href='#img' onclick='clickHandler(event)'><img style='max-width:100px' src=\"/ContentUser/" + Encoding.ASCII.GetString(item.Image) + "\" /></a>")
            </div>
            }
        }


    }
    
</div>
<!-- lightbox container hidden with CSS -->
<a href="#_" class="lightbox" id="img">
    <img id="targetImage" src="">
</a>
<div id="input">
    @Html.Partial("_sendMessage", new SendMessageViewModel())
</div>

<script>
    window.onload = function () {
        $.ajax({
            url: "/Messaging/MessagesViewed",
            type: "POST",
            data: JSON.stringify({ 'Options': '' }),
            dataType: "json",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.result == "ok") {
                    console.log("messages deleted");
                    //$(element).closest("form").submit(); //<------------ submit form
                } else {
                    console.log("Messages not deleted");
                }
            },
            error: function () {
                console.log("Error from service");
            }
        });
    }
   
   
    function clickHandler(e)
    {
        document.getElementById('targetImage').src = e.srcElement.src;
    }
</script>