@using MyGitTest123.Models;
@model  MyGitTest123.Models.MessagesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>What I had to say to you:</h2>

<div id="messages">
    @if (Model != null && Model.Messages != null)
    {
        foreach (var item in Model.Messages)
        {
            if (@item.Image == null)
            {
                <div>@item.Time - 
                    @item.MessageText
               </div>
            }
            else
            {
                <div>
                    @item.Time -
                    @Html.Raw("<a href='#img' onclick='clickHandler(event)'><img style='max-width:100px' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Image) + "\" /></a>")
            </div>
            }
        }


    }
    
</div>
<!-- lightbox container hidden with CSS -->
<a href="#_" class="lightbox" id="img">
    <img id="targetImage" src="">
</a>
<div id="input">
    @Html.Partial("_sendMessage", new SendMessageViewModel())
</div>

<script>
    function clickHandler(e)
    {
        document.getElementById('targetImage').src = e.srcElement.src;
    }
</script>